Repository ThandoSomacele/brightbroom: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run check, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,css,html}": [
    "prettier --write"
  ],
  "*.{ts,js,svelte}": [
    "npm run check"
  ]
}

feat: Add skeleton loading with SvelteKit streaming for customer pages
  src/lib/components/ui/skeletons/CustomerSkeleton.svelte
  src/lib/components/ui/skeletons/index.ts
  src/routes/cleaner/bookings/+page.server.ts
  src/routes/cleaner/bookings/+page.svelte
  src/routes/cleaner/dashboard/+page.server.ts
  src/routes/cleaner/dashboard/+page.svelte
  src/routes/cleaner/earnings/+page.server.ts
  src/routes/cleaner/earnings/+page.svelte
  src/routes/magazine/+page.server.ts
  src/routes/magazine/+page.svelte
  src/routes/magazine/[slug]/+page.server.ts
  src/routes/magazine/[slug]/+page.svelte
  src/routes/profile/+page.server.ts
  src/routes/profile/+page.svelte
  src/routes/profile/bookings/+page.server.ts
  src/routes/profile/bookings/+page.svelte
Due: npm run check

feat: Add coupon/discount code system for bookings
  drizzle/migrations/0017_add_coupons.sql
  package.json
  scripts/db/seed-coupons.ts
  src/lib/components/booking/PriceSummary.svelte
  src/lib/server/db/schema.ts
  src/lib/server/services/coupon.service.ts
  src/lib/utils/pricing.ts
  src/routes/admin/+layout.svelte
  src/routes/admin/coupons/+page.server.ts
  src/routes/admin/coupons/+page.svelte
  src/routes/admin/dashboard/+page.svelte
  src/routes/api/coupons/validate/+server.ts
  src/routes/book/review/+page.server.ts
  src/routes/book/review/+page.svelte
Due: npm run check, prettier --write

feat: Enable coupon code entry for guest users with login redirect
  src/routes/auth/login/+page.svelte
  src/routes/auth/register/+page.svelte
  src/routes/book/review/+page.server.ts
  src/routes/book/review/+page.svelte
Due: npm run check

fix: Correct booking count query in admin users table
  src/routes/admin/users/+page.server.ts
Due: npm run check

feat: Add shareable coupon view page
  src/routes/admin/coupons/+page.svelte
  src/routes/coupon/[code]/+page.server.ts
  src/routes/coupon/[code]/+page.svelte
Due: npm run check

feat: Restrict Google Maps search to service area with friendly error messages
  src/lib/components/maps/GoogleMapsAutocomplete.svelte
  src/routes/profile/addresses/new/+page.svelte
Due: npm run check

feat: Add service area hint to address search input
  src/lib/components/maps/GoogleMapsAutocomplete.svelte
Due: npm run check

fix: Update email and website references from brightbroom.co.za to brightbroom.com
  src/routes/coupon/[code]/+page.svelte
  src/routes/privacy/+page.svelte
  src/routes/terms/+page.svelte
Due: npm run check

refactor: Replace emojis with Lucide icons across UI components
  src/lib/components/booking/CleanerSelection.svelte
  src/lib/components/booking/StepTracker.svelte
  src/lib/components/maps/GoogleMapsAutocomplete.svelte
  src/routes/+error.svelte
  src/routes/book/payment/subscription-success/+page.svelte
  src/routes/payment/success/+page.svelte
Due: npm run check

feat: Simplify address flow to match Uber/Mr D experience
  src/routes/book/address/+page.svelte
  src/routes/profile/addresses/new/+page.server.ts
  src/routes/profile/addresses/new/+page.svelte
Due: npm run check

fix: Preserve original capitalization when saving addresses
  src/lib/server/services/address.service.ts
Due: npm run check

fix: Remove decimal places from coupon discount display
  src/routes/coupon/[code]/+page.svelte
Due: npm run check

feat: Enhance CLAUDE.md with additional database seeding commands and AWS S3 file storage details
  CLAUDE.md
Due: prettier --write

feat: Add multi-tenancy support with tenant-scoped admin pages
  package.json
  scripts/db/seed-tenants.ts
  src/app.d.ts
  src/hooks.server.ts
  src/lib/server/db/schema.ts
  src/lib/server/services/tenant.service.ts
  src/lib/types/db.ts
  src/routes/admin/+layout.server.ts
  src/routes/admin/+layout.svelte
  src/routes/admin/applications/+page.server.ts
  src/routes/admin/applications/[id]/+page.server.ts
  src/routes/admin/bookings/+page.server.ts
  src/routes/admin/bookings/[id]/+page.server.ts
  src/routes/admin/cleaners/+page.server.ts
  src/routes/admin/cleaners/[id]/+page.server.ts
  src/routes/admin/cleaners/[id]/earnings/+page.server.ts
  src/routes/admin/cleaners/new/+page.server.ts
  src/routes/admin/dashboard/+page.server.ts
  src/routes/admin/dashboard/bookings/+page.server.ts
  src/routes/admin/dashboard/bookings/[id]/+page.server.ts
  src/routes/admin/payouts/+page.server.ts
  src/routes/admin/reports/+page.server.ts
  src/routes/admin/tenants/+page.server.ts
  src/routes/admin/tenants/+page.svelte
  src/routes/admin/tenants/[id]/+page.server.ts
  src/routes/admin/tenants/[id]/+page.svelte
  src/routes/admin/tenants/new/+page.server.ts
  src/routes/admin/tenants/new/+page.svelte
Due: npm run check, prettier --write

refactor: Remove cleaner specialisations and add worktree docs
  CLAUDE.md
  src/lib/server/db/schema.ts
  src/lib/server/services/cleaner-assignment.service.ts
  src/lib/services/data.ts
  src/lib/services/types.ts
  src/lib/types/db.ts
Due: npm run check, prettier --write

feat: Add application form and improve cleaner management pages
  src/routes/admin/applications/+page.server.ts
  src/routes/admin/applications/+page.svelte
  src/routes/admin/applications/[id]/+page.server.ts
  src/routes/admin/applications/new/+page.server.ts
  src/routes/admin/applications/new/+page.svelte
  src/routes/admin/cleaners/+page.svelte
  src/routes/admin/cleaners/[id]/+page.server.ts
  src/routes/admin/cleaners/[id]/+page.svelte
  src/routes/admin/cleaners/new/+page.server.ts
  src/routes/admin/cleaners/new/+page.svelte
Due: npm run check

feat: Add WhatsApp booking notifications for admin
  .env.example
  src/lib/server/hooks/post-payment-hooks.ts
  src/lib/server/services/whatsapp.service.ts
Due: npm run check

docs: Update CLAUDE.md with multi-tenancy architecture and missing commands
  CLAUDE.md
Due: prettier --write

fix: Prevent null reference crash on admin cleaner detail page
  src/routes/admin/cleaners/[id]/+page.svelte
Due: npm run check

fix: Default cleaner profiles to BrightBroom tenant when no tenantId provided
  src/lib/server/services/cleaner-application.service.ts
  src/routes/admin/cleaners/[id]/+page.server.ts
  src/routes/admin/cleaners/new/+page.server.ts
Due: npm run check

fix: Update dependencies to resolve high-severity vulnerabilities
  package-lock.json
Due: prettier --write

feat: Make all admin dashboard table rows clickable for consistency
  src/routes/admin/applications/+page.svelte
  src/routes/admin/coupons/+page.svelte
  src/routes/admin/dashboard/bookings/+page.svelte
  src/routes/admin/pricing/+page.svelte
  src/routes/admin/tenants/+page.svelte
Due: npm run check

feat: Modernise landing page design system and hero section
  src/app.css
  src/routes/+layout.svelte
  src/routes/+page.svelte
  tailwind.config.ts
Due: npm run check, prettier --write

fix: Correct spacing in hero section title and remove unused Button import
  src/routes/+page.svelte
Due: npm run check

feat: Update hero image asset for improved visual appeal
  src/lib/image-assets/hero.webp
Due: none

feat: Migrate from npm to pnpm
  .lintstagedrc.json
  .npmrc
  .pre-commit-config.yaml
  CLAUDE.md
  netlify.toml
  netlify/functions/db-migrate.js
  netlify/scripts/deploy-db.sh
  netlify/scripts/pre-build.sh
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/db/backup.ts
  scripts/db/seed-applications.ts
  scripts/db/seed-coupons.ts
  scripts/db/seed-pricing.ts
  scripts/db/seed.ts
  scripts/deploy-production.sh
  scripts/deploy/netlify.js
  scripts/deploy/pre-deploy.js
  scripts/services/convert.ts
  scripts/test-ipn.ts
  scripts/update-address-coordinates.ts
Due: npm run check, prettier --write

fix: Resolve cleaner application and admin cleaner page errors
  src/routes/admin/applications/new/+page.svelte
  src/routes/admin/cleaners/[id]/+page.svelte
  src/routes/join/cleaner/+page.server.ts
Due: npm run check

fix: Disable Corepack integrity keys check in Netlify builds
  netlify.toml
Due: none

fix: Require Node 22 for pnpm 11 compatibility
  netlify.toml
  package.json
Due: prettier --write

feat: Add address search to admin application form
  src/routes/admin/applications/new/+page.server.ts
  src/routes/admin/applications/new/+page.svelte
Due: npm run check

fix: Make manual cleaner assignment work and compute real distances
  src/lib/components/admin/AutoAssignCleanerButton.svelte
  src/lib/components/admin/CleanerAssignmentDialog.svelte
  src/lib/server/services/cleaner-assignment.service.ts
  src/routes/admin/cleaners/[id]/+page.server.ts
  src/routes/api/bookings/[id]/assign-cleaner/+server.ts
Due: npm run check

feat: Add design tokens for site-wide visual refresh
  src/app.css
  tailwind.config.ts
Due: npm run check, prettier --write

feat: Add shared UI primitives and polish Button
  src/lib/components/ui/Button.svelte
  src/lib/components/ui/Card.svelte
  src/lib/components/ui/EmptyState.svelte
  src/lib/components/ui/PageHeader.svelte
  src/lib/components/ui/SectionHeading.svelte
  src/lib/components/ui/StatCard.svelte
Due: npm run check

feat: Apply design system to booking flow, auth and profile
  src/lib/components/booking/AddonSelector.svelte
  src/lib/components/booking/CleanerSelection.svelte
  src/routes/auth/forgot-password/+page.svelte
  src/routes/auth/login/+page.svelte
  src/routes/auth/register/+page.svelte
  src/routes/auth/reset-password/+page.svelte
  src/routes/book/+page.svelte
  src/routes/book/address/+page.svelte
  src/routes/book/review/+page.svelte
  src/routes/book/schedule/+page.svelte
  src/routes/profile/+page.svelte
  src/routes/profile/addresses/new/+page.svelte
  src/routes/profile/bookings/+page.svelte
  src/routes/profile/bookings/[id]/+page.svelte
  src/routes/profile/change-password/+page.svelte
  src/routes/profile/edit/+page.svelte
  src/routes/profile/subscriptions/+page.svelte
Due: npm run check

feat: Apply design system to customer marketing pages
  src/routes/about/+page.svelte
  src/routes/cleaning-services-bryanston/+page.svelte
  src/routes/cleaning-services-cosmo-city/+page.svelte
  src/routes/cleaning-services-fourways/+page.svelte
  src/routes/cleaning-services-midrand/+page.svelte
  src/routes/cleaning-services-north-riding/+page.svelte
  src/routes/cleaning-services-randburg/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/join/cleaner/+page.svelte
  src/routes/magazine/+page.svelte
  src/routes/magazine/[slug]/+page.svelte
  src/routes/service-areas/+page.svelte
  src/routes/services/+page.svelte
Due: npm run check

feat: Apply design system to admin dashboard and tables
  src/routes/admin/+layout.svelte
  src/routes/admin/applications/+page.svelte
  src/routes/admin/applications/[id]/+page.svelte
  src/routes/admin/bookings/+page.svelte
  src/routes/admin/bookings/[id]/+page.svelte
  src/routes/admin/cleaners/+page.svelte
  src/routes/admin/coupons/+page.svelte
  src/routes/admin/dashboard/+page.svelte
  src/routes/admin/payouts/+page.svelte
  src/routes/admin/users/+page.svelte
Due: npm run check

feat: Apply design system to cleaner portal
  src/routes/cleaner/+layout.svelte
  src/routes/cleaner/bookings/+page.svelte
  src/routes/cleaner/bookings/[id]/+page.svelte
  src/routes/cleaner/dashboard/+page.svelte
  src/routes/cleaner/earnings/+page.svelte
Due: npm run check

style(admin): standardize table UI, buttons and action columns
  src/app.css
  src/lib/components/ui/Button.svelte
  src/routes/admin/applications/+page.svelte
  src/routes/admin/bookings/+page.svelte
  src/routes/admin/bookings/[id]/+page.svelte
  src/routes/admin/cleaners/+page.svelte
  src/routes/admin/coupons/+page.svelte
  src/routes/admin/dashboard/+page.svelte
  src/routes/admin/payouts/+page.svelte
  src/routes/admin/reports/+page.svelte
  src/routes/admin/users/+page.svelte
Due: npm run check, prettier --write

fix(nav): make top nav and admin sidebar tablet-friendly
  src/routes/+layout.svelte
  src/routes/admin/+layout.svelte
Due: npm run check

fix(bookings): render scheduled time in correct timezone
  src/lib/server/db/schema.ts
  src/lib/server/email-templates.ts
  src/lib/server/payment.ts
  src/lib/server/services/cleaner-assignment.service.ts
  src/lib/server/services/cleaner-earnings.service.ts
  src/lib/server/services/notification.service.ts
  src/lib/utils/date-utils.ts
  src/routes/admin/bookings/+page.server.ts
  src/routes/admin/bookings/[id]/+page.server.ts
  src/routes/admin/bookings/[id]/+page.svelte
  src/routes/admin/dashboard/bookings/+page.server.ts
  src/routes/admin/dashboard/bookings/+page.svelte
  src/routes/admin/dashboard/bookings/[id]/+page.svelte
  src/routes/api/bookings/[id]/send-cleaner-assignment/+server.ts
  src/routes/api/bookings/[id]/send-confirmation/+server.ts
  src/routes/api/bookings/[id]/send-reminder/+server.ts
  src/routes/api/cron/send-reminders/+server.ts
  src/routes/api/payfast/subscription-webhook/+server.ts
  src/routes/api/subscriptions/process-recurring/+server.ts
  src/routes/book/review/+page.server.ts
  src/routes/cleaner/bookings/+page.server.ts
  src/routes/cleaner/bookings/+page.svelte
  src/routes/cleaner/bookings/[id]/+page.svelte
  src/routes/cleaner/dashboard/+page.server.ts
  src/routes/cleaner/dashboard/+page.svelte
  src/routes/cleaner/earnings/+page.server.ts
  src/routes/profile/+page.server.ts
  src/routes/profile/bookings/+page.svelte
  src/routes/profile/bookings/[id]/+page.svelte
  src/routes/profile/bookings/[id]/cancel/+page.server.ts
Due: npm run check
