Repository ThandoSomacele/brightbroom: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run check, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js,svelte}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,css,html}": [
    "prettier --write"
  ],
  "*.{ts,js,svelte}": [
    "npm run check"
  ]
}

feat(email): notify operations inbox when a booking is paid
  src/lib/server/email-service.ts
  src/lib/server/email-templates.ts
  src/lib/server/hooks/post-payment-hooks.ts
Due: npm run check

fix(cleaner): show correct payout on the booking detail
  src/lib/utils/payout-calculator.ts
  src/routes/cleaner/bookings/[id]/+page.server.ts
  src/routes/cleaner/bookings/[id]/+page.svelte
Due: npm run check

chore(deps): patch Dependabot security advisories
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix(deps): drop transitive overrides to unblock Netlify deploy
  pnpm-workspace.yaml
Due: none

fix(earnings): populate cleaner payout breakdown + drop invalid db.fn
  src/lib/server/services/cleaner-earnings.service.ts
  src/lib/server/services/user.service.ts
  src/routes/admin/cleaners/[id]/earnings/+page.server.ts
  src/routes/api/users/+server.ts
Due: npm run check

feat(payments): persist payout breakdown on payment success
  src/lib/server/payment.ts
  src/lib/server/services/payment-processor.service.ts
  src/routes/api/payments/ipn/+server.ts
Due: npm run check

feat(admin): editable fees & commission + fix payout breakdown displays
  drizzle/migrations/0018_add_payout_config.sql
  src/lib/server/db/schema.ts
  src/lib/server/services/payment-processor.service.ts
  src/lib/server/services/payout-config.service.ts
  src/lib/utils/payout-calculator.ts
  src/routes/admin/bookings/[id]/+page.svelte
  src/routes/admin/cleaners/[id]/earnings/+page.server.ts
  src/routes/admin/pricing/+page.server.ts
  src/routes/admin/pricing/+page.svelte
Due: npm run check

fix(earnings): stop admin cleaner earnings page 500 on null payout amounts
  booking-payout-check.png
  src/routes/admin/cleaners/[id]/earnings/+page.server.ts
  src/routes/admin/cleaners/[id]/earnings/+page.svelte
Due: npm run check

chore: remove screenshot accidentally committed during earnings debugging
  booking-payout-check.png
Due: none

feat: Add hand-written tenancy migration
  drizzle/migrations/0018_add_tenancy.sql
Due: none

fix: Scope newly created bookings to a tenant
  src/lib/server/services/tenant.service.ts
  src/routes/api/payfast/subscription-webhook/+server.ts
  src/routes/api/subscriptions/process-recurring/+server.ts
  src/routes/book/review/+page.server.ts
Due: npm run check

fix: Block tenant admins from the platform user directory
  src/hooks.server.ts
  src/routes/admin/users/+page.server.ts
Due: npm run check

feat: Add tenant member onboarding
  src/routes/admin/tenants/[id]/+page.server.ts
  src/routes/admin/tenants/[id]/+page.svelte
Due: npm run check

feat: Apply per-tenant commission rates to payouts
  src/lib/server/services/cleaner-earnings.service.ts
  src/lib/server/services/payment-processor.service.ts
  src/lib/server/services/tenant.service.ts
  src/routes/admin/tenants/[id]/+page.server.ts
  src/routes/admin/tenants/[id]/+page.svelte
  src/routes/admin/tenants/new/+page.server.ts
Due: npm run check

feat: Add company storefront with self-serve signup
  src/lib/server/email-service.ts
  src/lib/server/email-templates.ts
  src/lib/server/rate-limiter.ts
  src/lib/server/services/tenant.service.ts
  src/routes/+layout.svelte
  src/routes/join/company/+page.server.ts
  src/routes/join/company/+page.svelte
Due: npm run check

feat: Apply one standard 20km service radius to cleaner matching
  src/lib/server/services/cleaner-assignment.service.ts
  src/lib/utils/serviceAreaValidator.ts
  src/routes/admin/cleaners/[id]/+page.svelte
  src/routes/api/cleaners/available/+server.ts
Due: npm run check

feat: Add out-of-area safeguard and single service-area message
  src/lib/components/maps/GoogleMapsAutocomplete.svelte
  src/lib/utils/serviceAreaValidator.ts
  src/routes/book/review/+page.server.ts
Due: npm run check

fix: Give every service area the same 15km radius
  src/lib/utils/serviceAreaValidator.ts
Due: npm run check

fix: Repair the migration ledger and stop deploys hiding its failure
  drizzle/migrations/meta/_journal.json
  netlify/scripts/deploy-db.sh
  package.json
  scripts/db/rebaseline-migrations.ts
Due: npm run check, prettier --write

fix: Point drizzle-kit at the real migrations folder
  drizzle.config.ts
  drizzle/0000_overjoyed_vapor.sql
  drizzle/0001_free_scarlet_witch.sql
  drizzle/meta/0001_snapshot.json
  drizzle/meta/_journal.json
  drizzle/relations.ts
  drizzle/schema.ts
  netlify/scripts/deploy-db.sh
  scripts/db/rebaseline-migrations.ts
Due: npm run check, prettier --write

feat: Give cleaning companies a share of each booking
  drizzle/migrations/0019_add_tenant_payouts.sql
  drizzle/migrations/meta/_journal.json
  src/lib/server/db/schema.ts
  src/lib/server/services/payment-processor.service.ts
  src/lib/server/services/tenant.service.ts
  src/lib/utils/payout-calculator.ts
  src/routes/admin/payouts/+page.server.ts
Due: npm run check, prettier --write

feat: Add payout details and balances to the tenant admin page
  src/lib/server/services/tenant.service.ts
  src/routes/admin/tenants/[id]/+page.server.ts
  src/routes/admin/tenants/[id]/+page.svelte
Due: npm run check

fix: Require authentication on /api/admin endpoints
  src/hooks.server.ts
Due: npm run check

feat: Vet cleaning companies before they can trade
  drizzle/migrations/0020_add_tenant_verification.sql
  drizzle/migrations/meta/_journal.json
  src/lib/server/db/schema.ts
  src/lib/server/services/cleaner-assignment.service.ts
  src/lib/server/services/tenant.service.ts
  src/routes/admin/+layout.svelte
  src/routes/admin/tenants/[id]/+page.server.ts
  src/routes/admin/tenants/[id]/+page.svelte
  src/routes/admin/verification/+page.server.ts
  src/routes/admin/verification/+page.svelte
  src/routes/api/cleaners/available/+server.ts
  src/routes/api/tenant/documents/+server.ts
  src/routes/join/company/+page.server.ts
Due: npm run check, prettier --write

refactor: Require only ID and a bank letter to verify a company
  src/lib/server/services/tenant.service.ts
  src/routes/admin/tenants/[id]/+page.server.ts
  src/routes/admin/tenants/[id]/+page.svelte
  src/routes/admin/verification/+page.server.ts
  src/routes/admin/verification/+page.svelte
  src/routes/api/tenant/documents/+server.ts
Due: npm run check

feat: Email companies when their verification is approved or rejected
  src/lib/server/email-service.ts
  src/lib/server/email-templates.ts
  src/lib/server/services/tenant.service.ts
  src/routes/admin/tenants/[id]/+page.server.ts
Due: npm run check

feat: Capture and enforce right to work on cleaner intake
  drizzle/migrations/0021_add_work_authorisation.sql
  drizzle/migrations/meta/_journal.json
  scripts/db/rebaseline-migrations.ts
  scripts/db/seed-tenants.ts
  src/lib/server/db/schema.ts
  src/lib/server/services/cleaner-assignment.service.ts
  src/routes/admin/applications/[id]/+page.server.ts
  src/routes/admin/applications/[id]/+page.svelte
  src/routes/api/cleaners/available/+server.ts
  src/routes/join/cleaner/+page.server.ts
  src/routes/join/cleaner/+page.svelte
Due: npm run check, prettier --write

fix: Unblock checkout at the address step
  src/routes/book/address/+page.svelte
Due: npm run check

fix: Unblock the cleaner application and limit it to areas we serve
  src/lib/utils/serviceAreaValidator.ts
  src/routes/join/cleaner/+page.svelte
Due: npm run check

feat: Pay cleaning companies from the payouts page
  src/lib/server/services/tenant.service.ts
  src/routes/admin/payouts/+page.server.ts
  src/routes/admin/payouts/+page.svelte
Due: npm run check

chore(deps): clear the critical advisory and cut vulnerabilities by a third
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): patch the advisories that actually reach production
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix: Stop identity documents being readable by anyone with the URL
  src/routes/admin/applications/[id]/+page.svelte
  src/routes/admin/tenants/[id]/+page.svelte
  src/routes/admin/verification/+page.svelte
  src/routes/api/documents/+server.ts
Due: npm run check

fix: Accept PayFast subscription webhooks so paid bookings get created
  scripts/backfill-subscription-324512059.sql
  src/hooks.server.ts
  src/lib/server/services/payfast-subscription.test.ts
  src/lib/server/services/payfast-subscription.ts
  src/routes/api/payfast/subscription-webhook/+server.ts
Due: npm run check

fix: Serve S3 files through the app now that the bucket is private
  .env.example
  src/lib/components/admin/DocumentUpload.svelte
  src/lib/components/booking/CleanerSelection.svelte
  src/lib/server/email-templates.ts
  src/lib/server/s3.ts
  src/lib/utils/media.ts
  src/routes/admin/applications/+page.svelte
  src/routes/admin/applications/[id]/+page.svelte
  src/routes/admin/cleaners/+page.svelte
  src/routes/api/admin/applications/[id]/documents/+server.ts
  src/routes/api/admin/applications/[id]/documents/[key]/+server.ts
  src/routes/api/admin/applications/[id]/profile-image/+server.ts
  src/routes/api/admin/cleaners/[id]/profile-image/+server.ts
  src/routes/api/cleaners/available/+server.ts
  src/routes/api/documents/+server.ts
  src/routes/api/images/[...key]/+server.ts
  src/routes/book/review/+page.svelte
Due: npm run check

fix: Respect the subscription start date when scheduling the first cleaning
  src/lib/server/services/payfast-subscription.test.ts
  src/lib/server/services/payfast-subscription.ts
  src/routes/api/payfast/subscription-webhook/+server.ts
Due: npm run check

feat: Bill subscriptions on the customer's actual schedule
  src/lib/server/services/payfast-subscription.test.ts
  src/lib/server/services/payfast-subscription.ts
  src/routes/api/payfast/subscription-webhook/+server.ts
  src/routes/api/subscriptions/process-recurring/+server.ts
Due: npm run check

fix: Stop SvelteKit discarding PayFast webhooks before they reach us
  src/hooks.server.ts
  svelte.config.js
Due: npm run check

fix: Each billing cycle books the visit after the last one booked
  src/routes/api/subscriptions/process-recurring/+server.ts
Due: npm run check
