Repository ThandoSomacele/brightbroom: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint, prettier

typescript-check:
  name: TypeScript Check
  entry: npm run check
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system
  args:
  - --max-warnings=0

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

feat: Add comprehensive guides for load shedding-friendly apartments in Sandton and stylish modern apartments in Fourways
  src/content/articles/load-shedding-friendly-apartments-sandton.md
  src/content/articles/stylish-modern-apartments-fourways.md
Due: prettier

Refactor code structure for improved readability and maintainability
  src/content/articles/load-shedding-friendly-apartments-sandton.md
  src/content/articles/small-apartment-organization-fourways.md
  src/content/articles/stylish-modern-apartments-fourways.md
  static/images/articles/load-shedding-friendly-apartments/apartment-maintenance.webp
  static/images/articles/load-shedding-friendly-apartments/backup-power-system.webp
  static/images/articles/load-shedding-friendly-apartments/diy-backup-solutions.webp
  static/images/articles/load-shedding-friendly-apartments/energy-efficient-living.webp
  static/images/articles/load-shedding-friendly-apartments/gas-stove-kitchen.webp
  static/images/articles/load-shedding-friendly-apartments/sandton-apartment-backup-power.webp
  static/images/articles/stylish-modern-apartments/concierge-services.webp
  static/images/articles/stylish-modern-apartments/fourways-development.webp
  static/images/articles/stylish-modern-apartments/fourways-luxury-apartment.webp
  static/images/articles/stylish-modern-apartments/north-riding-modern-living.webp
  static/images/articles/stylish-modern-apartments/personalised-interior.webp
  static/images/articles/stylish-modern-apartments/premium-kitchen-finishes.webp
  static/images/articles/stylish-modern-apartments/professional-maintenance.webp
  static/images/articles/stylish-modern-apartments/sandton-apartment-interior.webp
Due: prettier

feat: Add street number field to guest address and update validation for estates/complexes
  src/lib/server/guest-booking.ts
  src/routes/book/address/+page.svelte
  src/routes/book/review/+page.server.ts
  src/routes/book/review/+page.svelte
Due: typescript-check, eslint, prettier

feat: Add booking reference display in booking confirmation and details pages
  src/lib/server/email-templates.ts
  src/lib/utils/strings.ts
  src/routes/book/address/+page.svelte
  src/routes/book/payment/+page.svelte
  src/routes/profile/bookings/+page.server.ts
  src/routes/profile/bookings/+page.svelte
  src/routes/profile/bookings/[id]/+page.svelte
Due: typescript-check, eslint, prettier

feat: Implement user login functionality with session management and validation
  src/routes/book/payment/+page.server.ts
  src/routes/book/payment/+page.svelte
Due: typescript-check, eslint, prettier

feat: Simplify guest booking requirements by only requiring address data and update form handling for authentication
  backups/users-backup-2025-07-19T10-18-27-780Z.json
  src/routes/book/payment/+page.svelte
  src/routes/book/review/+page.server.ts
  src/routes/book/review/+page.svelte
Due: typescript-check, eslint, prettier

feat: Enhance booking display by including former guest bookings and adding time filtering options
  src/routes/profile/bookings/+page.server.ts
  src/routes/profile/bookings/+page.svelte
Due: typescript-check, eslint, prettier

feat: Add database schema and relations for cleaner management system
  PRODUCTION_MIGRATION.md
  drizzle/0001_free_scarlet_witch.sql
  drizzle/meta/0001_snapshot.json
  drizzle/meta/_journal.json
  drizzle/migrations/0006_blushing_blue_marvel.sql
  drizzle/migrations/meta/0006_snapshot.json
  drizzle/migrations/meta/_journal.json
  drizzle/relations.ts
  drizzle/schema.ts
  netlify/functions/db-migrate.js
  scripts/deploy-production.sh
  src/lib/server/db/schema.ts
Due: typescript-check, eslint, prettier

feat: Remove guest contact information from booking data and update handling to rely on authentication
  src/lib/server/guest-booking.ts
  src/routes/book/review/+page.server.ts
Due: typescript-check, eslint, prettier

feat: Remove guest contact information from booking data and update related handling
  src/routes/api/bookings/[id]/+server.ts
  src/routes/book/review/+page.svelte
  src/routes/profile/bookings/[id]/+page.server.ts
Due: typescript-check, eslint, prettier

feat: Add data invalidation to refresh user state during login process
  src/routes/auth/login/+page.svelte
Due: typescript-check, eslint, prettier

feat: Integrate Google Tag Manager for enhanced performance monitoring
  src/routes/+layout.svelte
Due: typescript-check, eslint, prettier

feat: Enhance SEO with Open Graph and Twitter meta tags in booking page
  src/routes/book/+page.svelte
Due: typescript-check, eslint, prettier

Refactor code structure for improved readability and maintainability
  docs/architecture-overview.md
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/book/+page.svelte
  src/routes/pitch-deck/+page.svelte
  static/images/brightbroom-og-image.jpg
  static/images/brightbroom-og-image.png
Due: typescript-check, eslint, prettier

feat: Improve service card layout for better usability and readability
  src/routes/book/+page.svelte
Due: typescript-check, eslint, prettier

Added buisness plan page
  src/routes/business-plan/+page.svelte
Due: typescript-check, eslint, prettier

change US to GB spelling
  IMPROVEMENTS_SUMMARY.md
  src/content/articles/load-shedding-friendly-apartments-sandton.md
Due: prettier

feat: Implement custom 404 error page with enhanced SEO and navigation options
  src/routes/+error.svelte
  static/404.html
  static/_redirects
Due: typescript-check, eslint, prettier

feat: Add server-side data loading for business plan and pitch deck pages
  src/routes/business-plan/+page.server.ts
  src/routes/business-plan/+page.svelte
  src/routes/pitch-deck/+page.server.ts
  src/routes/pitch-deck/+page.svelte
Due: typescript-check, eslint, prettier

Hiding Sharon until the 1st of September via a timer
  src/routes/business-plan/+page.svelte
  src/routes/pitch-deck/+page.svelte
  src/routes/privacy/+page.svelte
Due: typescript-check, eslint, prettier

commenting out sharon somacele
  src/routes/business-plan/+page.svelte
  src/routes/pitch-deck/+page.svelte
  src/routes/privacy/+page.svelte
Due: typescript-check, eslint, prettier

feat: Restore Sharon Somacele's profile in team members section
  src/routes/business-plan/+page.svelte
  src/routes/pitch-deck/+page.svelte
Due: typescript-check, eslint, prettier

feat: Update CLAUDE.md with comprehensive project guidelines and commands
  CLAUDE.md
Due: prettier

Add cleaning services pages for Fourways and Randburg
  src/routes/cleaning-services-bryanston/+page.server.ts
  src/routes/cleaning-services-bryanston/+page.svelte
  src/routes/cleaning-services-fourways/+page.server.ts
  src/routes/cleaning-services-fourways/+page.svelte
  src/routes/cleaning-services-midrand/+page.server.ts
  src/routes/cleaning-services-midrand/+page.svelte
  src/routes/cleaning-services-randburg/+page.server.ts
  src/routes/cleaning-services-randburg/+page.svelte
Due: typescript-check, eslint, prettier

feat: Enhance Open Graph and Twitter metadata for articles
  src/routes/magazine/[slug]/+page.server.ts
  src/routes/magazine/[slug]/+page.svelte
Due: typescript-check, eslint, prettier

feat: Add cleaner selection feature to booking flow
  src/lib/components/booking/CleanerSelection.svelte
  src/routes/api/cleaners/available/+server.ts
  src/routes/book/cleaner/+page.server.ts
  src/routes/book/cleaner/+page.svelte
  src/routes/book/review/+page.server.ts
  src/routes/book/review/+page.svelte
  src/routes/book/schedule/+page.svelte
  static/images/default-avatar.svg
Due: typescript-check, eslint, prettier

fix: Resolve authentication and unused export errors in cleaner selection
  src/routes/book/cleaner/+page.server.ts
  src/routes/book/cleaner/+page.svelte
Due: typescript-check, eslint, prettier

feat: Update cleaner selection to use real database data
  marketing-strategy.md
  outreach-email-templates.md
  referral-program.md
  scripts/check-cleaners.ts
  social-media-templates.md
  src/lib/components/booking/CleanerSelection.svelte
  src/routes/api/cleaners/available/+server.ts
Due: typescript-check, eslint, prettier

fix: Resolve build issues
  _redirects
  src/routes/cleaning-services-bryanston/+page.svelte
  src/routes/cleaning-services-fourways/+page.svelte
  src/routes/cleaning-services-midrand/+page.svelte
  src/routes/cleaning-services-randburg/+page.svelte
Due: typescript-check, eslint, prettier

revert: Move _redirects back to static directory
  static/_redirects
Due: none

fix: Move _redirects to project root for Netlify adapter
  _redirects
Due: none

Revert "fix: Move _redirects to project root for Netlify adapter"
  static/_redirects
Due: none

Revert "revert: Move _redirects back to static directory"
  _redirects
Due: none

fix: Restore _redirects to static directory
  static/_redirects
Due: none

fix: Add _redirects file to root directory for Netlify adapter compatibility
  _redirects
Due: none

fix: Remove _redirects from static directory to resolve Netlify adapter conflict
  static/_redirects
Due: none

fix: Remove Tailwind CDN from 404.html and use inline styles
  static/404.html
Due: prettier

fix: Remove _redirects file as SvelteKit adapter-netlify handles routing
  _redirects
Due: none

docs: Add Netlify deployment notes to CLAUDE.md
  CLAUDE.md
Due: prettier

feat: Implement comprehensive security improvements
  SECURITY_AUDIT.md
  TEST_ANALYSIS_REPORT.md
  eslint.config.js
  package-lock.json
  package.json
  src/app.d.ts
  src/hooks.server.ts
  src/lib/components/forms/CSRFToken.svelte
  src/lib/server/csrf.ts
  src/lib/server/email-service.ts
  src/lib/server/honeypot-validator.ts
  src/lib/server/hooks/post-payment-hooks.ts
  src/lib/server/services/cleaner-application.service.ts
  src/lib/server/services/cleaner-assignment.service.ts
  src/lib/server/services/email-recovery.service.ts
  src/lib/server/services/notification.service.ts
  src/lib/services/api.ts
  src/lib/services/article.service.ts
  src/lib/services/store.ts
  src/lib/utils/api-helpers.ts
  src/routes/+layout.server.ts
  src/routes/+layout.svelte
  src/routes/api/[id]/+server.ts
  src/routes/api/admin/applications/[id]/+server.ts
  src/routes/api/admin/applications/[id]/status/+server.ts
  src/routes/api/bookings/[id]/process-payment/+server.ts
  src/routes/api/bookings/[id]/send-cleaner-assignment/+server.ts
  src/routes/api/bookings/[id]/send-confirmation/+server.ts
  src/routes/api/bookings/[id]/send-receipt/+server.ts
  src/routes/api/bookings/[id]/send-reminder/+server.ts
  src/routes/api/payments/success/+server.ts
  src/routes/auth/login/+page.server.ts
  src/routes/auth/login/+page.svelte
  src/routes/payment/process/+page.svelte
  src/routes/profile/addresses/[id]/has-bookings/+server.ts
Due: typescript-check, eslint, prettier

Path conditions:
  typescript-check: any of: \.(ts|js|svelte)$
  eslint: any of: \.(ts|js|svelte)$
  prettier: any of: \.(ts|js|svelte|json|md|css|html)$
